@model WebTiendaCelulares.Models.Empleado

@{
    ViewData["Title"] = "Detalle Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h4 class="mb-0">Detalle de Empleado</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Nombres</dt>
                        <dd class="col-sm-8">@Model.Nombres</dd>
                        <dt class="col-sm-4">Primer Apellido</dt>
                        <dd class="col-sm-8">@Model.PrimerApellido</dd>
                        <dt class="col-sm-4">Segundo Apellido</dt>
                        <dd class="col-sm-8">@Model.SegundoApellido</dd>
                        <dt class="col-sm-4">Dirección</dt>
                        <dd class="col-sm-8">@Model.Direccion</dd>
                        <dt class="col-sm-4">Celular</dt>
                        <dd class="col-sm-8">@Model.Celular</dd>
                        <dt class="col-sm-4">Cargo</dt>
                        <dd class="col-sm-8">@Model.Cargo</dd>
                        <dt class="col-sm-4">Usuario Registro</dt>
                        <dd class="col-sm-8">@Model.UsuarioRegistro</dd>
                        <dt class="col-sm-4">Fecha Registro</dt>
                        <dd class="col-sm-8">@Model.FechaRegistro</dd>
                    </dl>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                            <i class="fa fa-edit"></i> Editar
                        </a>
                        <a asp-action="Index" class="btn btn-outline-secondary">
                            <i class="fa fa-arrow-left"></i> Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>