@model WebTiendaCelulares.Models.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Eliminar Cliente</h4>
                </div>
                <div class="card-body">
                    <h5>¿Estás seguro que deseas eliminar este cliente?</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Cédula de Identidad</dt>
                        <dd class="col-sm-8">@Model.CedulaIdentidad</dd>
                        <dt class="col-sm-4">Nombres</dt>
                        <dd class="col-sm-8">@Model.Nombres</dd>
                        <dt class="col-sm-4">Apellidos</dt>
                        <dd class="col-sm-8">@Model.Apellidos</dd>
                        <dt class="col-sm-4">Celular</dt>
                        <dd class="col-sm-8">@Model.Celular</dd>
                        <dt class="col-sm-4">Dirección</dt>
                        <dd class="col-sm-8">@Model.Direccion</dd>
                        <dt class="col-sm-4">Correo Electrónico</dt>
                        <dd class="col-sm-8">@Model.CorreoElectronico</dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-outline-secondary">
                                <i class="fa fa-arrow-left"></i> Cancelar
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i> Eliminar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>