@model WebTiendaCelulares.Models.VentaDetalle

@{
    ViewData["Title"] = "Detalle de Venta Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h4 class="mb-0">Detalle de Venta Detalle</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Cantidad</dt>
                        <dd class="col-sm-8">@Model.Cantidad</dd>
                        <dt class="col-sm-4">Precio Unitario</dt>
                        <dd class="col-sm-8">@Model.PrecioUnitario</dd>
                        <dt class="col-sm-4">Subtotal</dt>
                        <dd class="col-sm-8">@Model.Subtotal</dd>
                        <dt class="col-sm-4">Usuario Registro</dt>
                        <dd class="col-sm-8">@Model.UsuarioRegistro</dd>
                        <dt class="col-sm-4">Fecha Registro</dt>
                        <dd class="col-sm-8">@Model.FechaRegistro</dd>
                        <dt class="col-sm-4">Producto</dt>
                        <dd class="col-sm-8">@Model.IdProductoNavigation?.Nombre </dd>
                        <dt class="col-sm-4">Modelo</dt>
                        <dd class="col-sm-8">@Model.IdProductoNavigation?.Modelo </dd>
                        <dt class="col-sm-4">Color</dt>
                        <dd class="col-sm-8">@Model.IdProductoNavigation?.Color </dd>
                    </dl>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Index" class="btn btn-outline-secondary">
                            <i class="fa fa-arrow-left"></i> Volver a la lista
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>