@model WebTiendaCelulares.Models.Venta

@{
    ViewData["Title"] = "Detalle Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h4 class="mb-0">Detalle de Venta</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Documento Cliente</dt>
                        <dd class="col-sm-8">@Model.DocumentoCliente</dd>
                        <dt class="col-sm-4">Monto Pago</dt>
                        <dd class="col-sm-8">@Model.MontoPago</dd>
                        <dt class="col-sm-4">Monto Cambio</dt>
                        <dd class="col-sm-8">@Model.MontoCambio</dd>
                        <dt class="col-sm-4">Monto Total</dt>
                        <dd class="col-sm-8">@Model.MontoTotal</dd>
                        <dt class="col-sm-4">Usuario Registro</dt>
                        <dd class="col-sm-8">@Model.UsuarioRegistro</dd>
                        <dt class="col-sm-4">Fecha Registro</dt>
                        <dd class="col-sm-8">@Model.FechaRegistro</dd>
                    </dl>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                            <i class="fa fa-edit"></i> Editar
                        </a>
                        <a asp-action="Index" class="btn btn-outline-secondary">
                            <i class="fa fa-arrow-left"></i> Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>